<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">  
    <meta name="theme-color" content="{{ settings.color_primary }}">
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
    <link rel="preconnect" href="https://fonts.shopify.com" crossorigin>
    <link rel="preconnect" href="https://monorail-edge.shopifysvc.com">
    {%- if canonical_url != blank  -%}
    <link rel="canonical" href="{{ canonical_url }}">
    {%- endif -%}

    {% if settings.favicon_enable %}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '16x16' }}" type="image/png" />
    {% endif %}

    {%- capture seo_title -%}
    {%- if request.page_type == 'search' and search.performed == true -%}
    {{ 'general.search.heading' | t: count: search.results_count }}: {{ 'general.search.results_with_count' | t: terms: search.terms, count: search.results_count }}
    {%- else -%}
    {{ page_title }}
    {%- endif -%}
    {%- if current_tags -%}
    {%- assign meta_tags = current_tags | join: ', ' -%} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
    {%- endif -%}
    {%- if current_page != 1 -%}
    &ndash; {{ 'general.meta.page' | t: page: current_page }}
    {%- endif -%}
    {%- assign escaped_page_title = page_title | escape -%}
    {%- unless escaped_page_title contains shop.name -%}
    &ndash; {{ shop.name }}
    {%- endunless -%}
    {%- endcapture -%}
    <title>{{ seo_title | strip }}</title>

    {%- if page_description -%}
    <meta name="description" content="{{ page_description | escape }}">
    {%- endif -%}

    <!-- Social meta ================================================== -->
    {% include 'social-meta-tags' %}
    {{ 'dt-framework.css' | asset_url | stylesheet_tag }} 
    {{ 'dt-theme.css' | asset_url | stylesheet_tag }} 
    {{ 'dt-custom.css' | asset_url | stylesheet_tag }}        
    {{ 'swiper-bundle.min.css' | asset_url | stylesheet_tag }} 
    {{ 'select2.min.css' | asset_url | stylesheet_tag }} 
    
    

    {{ 'font-all.min.css' | asset_url | stylesheet_tag }} 
    {{ 'jquery-3.5.1.min.js' | asset_url | script_tag }}   
    {{ 'api.js' | shopify_asset_url | script_tag }} 
    {{ 'ajax-cart.js' | asset_url | script_tag }}
    {{ 'dt-plugins.js' | asset_url | script_tag }} 
    {{ 'select2.min.js' | asset_url | script_tag }} 
    {%- if request.page_type contains 'customers/' -%}
    <script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script>
    {%- endif -%}
    {{ content_for_header }}       


    <script>  
      var DT_THEME = {
        strings: {
          addToWishList: {{ 'products.product.addToWishList' | t | json }},
          viewMyWishList: {{ 'products.product.viewMyWishList' | t | json }},
          addToCompareList: {{ 'products.product.addToCompareList' | t | json }},
          viewMyCompareList: {{ 'products.product.viewMyCompareList' | t | json }},
          addToCart: {{ 'products.product.add_to_cart' | t | json }},
          soldOut: {{ 'products.product.sold_out' | t | json }},
          unavailable: {{ 'products.product.unavailable' | t | json }}          
        },
          moneyFormat: {{ shop.money_format | json }}

      };      
    </script>


  </head>
  <body id="{{ page_title | handle }}" class="{% if settings.home_sidebar   %}{% endif %} {% if settings.enable_boxed %}body-boxed {% endif %}{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }} {% unless tempate contains 'index' %} others {% endunless %}" style="{% if settings.boxed_bg_image != blank %}background-image:url('{{ settings.boxed_bg_image | img_url: 'master' }}');background-attachment:fixed;background-repeat:no-repeat;background-position:center center;{% endif %}">
    {% if settings.preloader_enable %}
    <div class="se-pre-con"></div>
    {% endif %}

    <div class="mobile-menu" data-menu="dt-main-menu"></div>
    <div class="mobile-menu-overlay"></div>    
    <div class="off-canvas--viewport">
      {% if settings.ajax_cart_method == 'drawer' %}
      {% include 'timber-cart' %}
      {% endif %}
      {% section 'header' %}  
      {% include 'breadcrumb' %}     
      <div class="clearfix"></div>
      <div class="shifter-page {% if settings.ajax_cart_method == 'drawer' %}is-moved-by-drawer{% endif %}" id="container">
        {{content_for_layout}}
      </div>
      <div class="clearfix"></div>
    </div>
    {% section 'footer' %}              
    {% if settings.ajax_cart_method == 'drawer' %}   
    {{ 'handlebars.min.js' | asset_url | script_tag }}
    {% endif %}


    {{ 'dt-theme.js' | asset_url | script_tag }}     
     <script src="{{ 'lazysizes.js' | asset_url }}" async="async"></script>
    {% if template contains 'article' or template contains 'product' %}
    {% if settings.social_sharing_blog or settings.social_sharing_products %}
    {{ 'social-buttons.js' | asset_url | script_tag }}
    {% endif %}
    {% endif %}
    {% section 'modal-newsletter' %}     
    {% section 'gdpr-cookies' %}     
    {% section 'customer-purchased' %}
    {% render 'dT_loading-overlay' %}
    <script src="{{ 'dT_bundle_base.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'dT_bundle.js' | asset_url }}" defer="defer"></script>  
    <script src="{{ 'dT_main.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'dT_main_app.js' | asset_url }}" defer="defer"></script>    
    {% include 'ajax-cart-template' %}        
     {% if settings.enable_scroll_to_top %}
      <a id="to-top" href="#{{ page_title | handle }}" class="dt-sc-to-top" style="display:none">
        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
          <path d="M263.432,3.136c-4.16-4.171-10.914-4.179-15.085-0.019c-0.006,0.006-0.013,0.013-0.019,0.019
                   l-192,192c-4.093,4.237-3.975,10.99,0.262,15.083c4.134,3.992,10.687,3.992,14.82,0L245.213,36.416v464.917
                   c0,5.891,4.776,10.667,10.667,10.667c5.891,0,10.667-4.776,10.667-10.667V36.416l173.781,173.781
                   c4.093,4.237,10.845,4.355,15.083,0.262c4.237-4.093,4.354-10.845,0.262-15.083c-0.086-0.089-0.173-0.176-0.262-0.262L263.432,3.136
                   z"/>
          <path d="M447.88,213.333c-2.831,0.005-5.548-1.115-7.552-3.115L255.88,25.749L71.432,210.219c-4.237,4.093-10.99,3.975-15.083-0.262
                   c-3.992-4.134-3.992-10.687,0-14.82l192-192c4.165-4.164,10.917-4.164,15.083,0l192,192c4.159,4.172,4.149,10.926-0.024,15.085
                   C453.409,212.214,450.702,213.333,447.88,213.333z"/>
          <path d="M255.88,512c-5.891,0-10.667-4.776-10.667-10.667V10.667C245.213,4.776,249.989,0,255.88,0
                   c5.891,0,10.667,4.776,10.667,10.667v490.667C266.546,507.224,261.771,512,255.88,512z"/>
        </svg>
      </a>
    {% endif %} 

   
  </body>
</html>