<div class="text-center sidebar_btn"><a class="dt-sc-btn toggleIcon"> <i class="fa fa-caret-right" aria-hidden="true"></i> </a></div>
{% assign dT_CollectionFilterClass = 'dT_CollectionFilter'%}
<div class="sidebar sidebar-height-{{section.id}}" id="sidebar-sticky">   
  <a href="#" class="js-close-modal dt-sc-btn close-icon"></a>
  <a href="#" class="clear-all dT_ClearAll" style="text-align: right;margin-bottom: 15px;">Clear All</a>
  {% for block in section.blocks %}
  {% case block.type %}
  {% when 'menu' %}
  {% assign sidebar_menu = block.settings.linklist %}
  {% if linklists[sidebar_menu].links.size > 0 %}
  <div class="filter-panel-{{block.type}}">
    {%- if block.settings.filter_title != '' -%}
    <h5 class="sidebar_title">{{ block.settings.filter_title }}</h5>
    {%- endif -%}
    <div class="filter-panel" id="accordian">
      <ul>
        {% for link in linklists[sidebar_menu].links %}
        {% assign link_handle = link.title | handle %}
        {% if linklists[link_handle] and linklists[link_handle].links.size > 0 %}
        <li class="{% if link.active %}active{% endif %}">
          <a href="{{ link.url }}">{{ link.title }}</a>
          <ul>
            {% for child in linklists[link_handle].links %}
            <li><a href="{{ child.url }}">{{ child.title }}</a></li>
            {% endfor %}
          </ul>
        </li>
        {% else %}
        <li class="{% if link.active %}active{% endif %}"><a href="{{ link.url }}">{{ link.title }}</a></li>
        {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
  {% endif %}

  {% when 'color' %}
  <div class="filter-panel-{{block.type}}">
    {%- if block.settings.filter_title != '' -%}
    <h5 class="sidebar_title">{{ block.settings.filter_title }}</h5>
    {%- endif -%}
    <div class="filter-panel">
      <ul>
        {% assign tags = block.settings.color_tag | replace: ', ', ',' | replace: ' ,', ',' | split: ',' %}
        {% assign tagLimit = block.settings.limit %}
        {% for colorTag in tags limit: tagLimit %}
        {% assign resultTag = colorTag | strip %}                    
        {%- if current_tags contains resultTag -%}        
        <li class="{{ resultTag }} active">
          <a class="{{ dT_CollectionFilterClass }}" href="/collections/all/{{ resultTag | handle }}" data-value="{{ resultTag | handle }}" style="color: {{ resultTag | handle }};">
            {{ resultTag }}
          </a>
        </li>
        {%- else -%}        
        <li class="{{ resultTag }}">
          <a class="{{ dT_CollectionFilterClass }}" href="/collections/all/{{ resultTag | handle }}" data-value="{{ resultTag | handle }}" style="color: {{ resultTag | handle }};">
            {{ resultTag }}
          </a>
        </li>        
        {%- endif -%}
        {% endfor %}
      </ul>
    </div>
  </div>

  {% when 'size' %}
  <div class="filter-panel-{{block.type}}">
    {%- if block.settings.filter_title != '' -%}
    <h5 class="sidebar_title">{{ block.settings.filter_title }}</h5>
    {%- endif -%}
    <div class="filter-panel">
      <ul>
        {% assign tags = block.settings.size_tag | replace: ', ', ',' | replace: ' ,', ',' | split: ',' %}
        {% assign tagLimit = block.settings.limit %}        
        {% for sizeTag in tags  %}
        {% assign resultTag = sizeTag | strip %}                    
        {%- if current_tags contains resultTag -%}          
        <li class="{{ resultTag }} active">
          <a class="{{ dT_CollectionFilterClass }}" href="/collections/all/{{ resultTag | handle }}" data-value="{{ resultTag | handle }}" >{{ resultTag }}</a>
        </li>
        {% elsif collection.tags contains resultTag %}          
        <li class="{{ resultTag }}">
          <a class="{{ dT_CollectionFilterClass }}" href="/collections/all/{{ resultTag | handle }}" data-value="{{ resultTag | handle }}" >{{ resultTag }}</a>
        </li>        
        {% else %}
        <li class="{{ resultTag }}">
          <a href="/collections/all/{{ resultTag | handle }}" class="{{ dT_CollectionFilterClass }}" data-value="{{ resultTag | handle }}">{{ resultTag }}</a>
        </li>        
        {%- endif -%}
        {% endfor %}
      </ul>
    </div>
  </div>

  {% when 'tag' %}
  <div class="filter-panel-{{block.type}}">
    {%- if block.settings.filter_title != '' -%}
    <h5 class="sidebar_title">{{ block.settings.filter_title }}</h5>
    {%- endif -%}
    <div class="filter-panel">
      <ul>
        {% assign tags = block.settings.other_tag | replace: ', ', ',' | replace: ' ,', ',' | split: ',' %}
        {% assign tagLimit = block.settings.limit %}
        {% for CustomTag in tags limit: tagLimit %}
        {% assign resultTag = CustomTag | strip %}
        {%- if current_tags contains resultTag -%}    
        <li class="{{ resultTag }} active">
          <a href="/collections/all/{{ resultTag | handle }}" class="{{ dT_CollectionFilterClass }}">{{ resultTag }}</a>
        </li>
        {% elsif collection.tags contains resultTag %}
        <li class="{{ resultTag }}"><a href="/collections/all/{{ resultTag | handle }}" class="{{ dT_CollectionFilterClass }}" data-value="{{ resultTag | handle }}">{{ resultTag }}</a></li>        
        {% else %}
        <li class="{{ resultTag }}"><a href="/collections/all/{{ resultTag | handle }}" class="{{ dT_CollectionFilterClass }}" data-value="{{ resultTag | handle }}">{{ resultTag }}</a></li>        
        {%- endif -%}
        {% endfor %}
      </ul>
    </div>
  </div>

  {% when 'image' %}  
  {% if block.settings.image != blank %}
  <div class="widget product-sidebar-type-{{block.type}}">    
    <a href="{{block.settings.link}}">    
      {%- assign img_url = block.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
      <img class="lazyload"
           src="{{ 'loading.gif' | asset_url }}"
           data-src="{{ img_url }}"
           data-widths="[180, 360, 470, 600, 770, 970, 1060, 1280, 1512, 1728, 2048]"
           data-aspectratio="{{ block.settings.image.aspect_ratio }}"
           data-sizes="auto"            
           alt="{{ block.settings.block_image.alt | escape }}">            
      <noscript>
        {{ block.settings.image | img_url: '480x480', scale: 2 | img_tag: block.settings.image.alt, 'dt-sc-noscript-image' }}
      </noscript>
    </a>  
    {% if block.settings.title != blank %}
    <h4> {{block.settings.title}}</h4>
    {% endif %}
    {% if block.settings.link != blank  and  block.settings.link_text != blank %}
    <a href="{{block.settings.link}}" class="dt-sc-btn">      
      {{block.settings.link_text}}            
    </a>    
    {% endif %}    
  </div>  
  {% endif %}
  {% endcase %}

  {% endfor %}
</div>